<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="requestLogging" type="SMRequestLogging.RequestLoggingBehaviorExtension, SMRequestLogging"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <requestLogging />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpDefaultBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" negotiateServiceCredential="false" establishSecurityContext="false" />
          </security>
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="netTcpDefaultBinding" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="netNamedPipeDefaultBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>

    <services>
      <service name="SMRequestLogging.Lab.LabService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpDefaultBinding" contract="SMRequestLogging.Lab.ILabService" />
        <endpoint binding="netTcpBinding" bindingConfiguration="netTcpDefaultBinding" contract="SMRequestLogging.Lab.ILabService" />
        <endpoint binding="netNamedPipeBinding" bindingConfiguration="netNamedPipeDefaultBinding" contract="SMRequestLogging.Lab.ILabService" />
      </service>
    </services>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <system.diagnostics>
    <!--<trace autoflush="true"/>-->
    <sources>
      <source name="System.ServiceModel.RequestLogging" switchValue="Information">
        <listeners>
          <add name="file" type="SMRequestLogging.FileTraceListener, SMRequestLogging" initializeData="c:\logs\requests.txt" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

</configuration>
