<?xml version="1.0" encoding="UTF-8"?><Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="Service Model Logging" Language="1033" Version="1.2.6" Manufacturer="Zywave" UpgradeCode="3123e40e-cd12-43f4-9a4c-33423c5c5deb">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
		<MediaTemplate EmbedCab="yes"/>

    <Property Id="REQUESTLOGGINGPATHROOT" Value="%SystemDrive%\servicemodel\logs" Secure="yes"/>
    <Property Id="REQUESTLOGGINGPATH" Value="{AppName}\requests.{DateTime:yyMMdd}.log" Secure="yes"/>
    <Property Id="REQUESTLOGGINGROLLINGMODE" Value="DateTime" Secure="yes"/>
    <Property Id="REQUESTLOGGINGROLLINGINTERVAL" Value="Day" Secure="yes"/>
    <Property Id="REQUESTLOGGINGMAXIMUMFILESIZE" Value="10485760" Secure="yes"/>
    <Property Id="REQUESTLOGGINGMAXIMUMFILEINDEX" Value="1" Secure="yes"/>
    <Property Id="ERRORLOGGINGPATHROOT" Value="%SystemDrive%\servicemodel\logs" Secure="yes"/>
    <Property Id="ERRORLOGGINGPATH" Value="{AppName}\errors.{DateTime:yyMMdd}.log" Secure="yes"/>
    <Property Id="ERRORLOGGINGROLLINGMODE" Value="DateTime" Secure="yes"/>
    <Property Id="ERRORLOGGINGROLLINGINTERVAL" Value="Day" Secure="yes"/>
    <Property Id="ERRORLOGGINGMAXIMUMFILESIZE" Value="10485760" Secure="yes"/>
    <Property Id="ERRORLOGGINGMAXIMUMFILEINDEX" Value="1" Secure="yes"/>
    <Property Id="CREATEBUFFEREDMESSAGECOPY" Value="false" Secure="yes"/>
    <Property Id="IGNOREDISPATCHREPLYMESSAGE" Value="false" Secure="yes"/>
    <Property Id="ADDMESSAGEIDREQUESTHEADER" Value="true" Secure="yes"/>
    
		<Feature Id="AssemblyFeature" Title="Install service model logging assembly" Level="1" Absent="disallow">
			<ComponentGroupRef Id="AssemblyComponents"/>
		</Feature>
    <Feature Id="RequestLoggingMachineConfigFeature" Title="Register request logging in machine.config" Level="1"/>
    <Feature Id="ErrorLoggingMachineConfigFeature" Title="Register error logging in machine.config" Level="1"/>
    
    <Binary Id="SMLogging.Setup.CustomActions.CA.dll" SourceFile="..\SMLogging.Setup.CustomActions\bin\$(var.Configuration)\SMLogging.Setup.CustomActions.CA.dll"/>

    <CustomAction Id="SetInstallRequestLoggingMachinConfigData" Property="InstallRequestLoggingMachinConfig" Value="RequestLoggingPathRoot=[REQUESTLOGGINGPATHROOT];RequestLoggingPath=[REQUESTLOGGINGPATH];RequestLoggingRollingMode=[REQUESTLOGGINGROLLINGMODE];RequestLoggingRollingInterval=[REQUESTLOGGINGROLLINGINTERVAL];RequestLoggingMaximumFileSize=[REQUESTLOGGINGMAXIMUMFILESIZE];RequestLoggingMaximumFileIndex=[REQUESTLOGGINGMAXIMUMFILEINDEX];CreateBufferedMessageCopy=[CREATEBUFFEREDMESSAGECOPY];IgnoreDispatchReplyMessage=[IGNOREDISPATCHREPLYMESSAGE];AddMessageIdRequestHeader=[ADDMESSAGEIDREQUESTHEADER];ProductVersion=[ProductVersion]"/>
    <CustomAction Id="InstallRequestLoggingMachinConfig" Return="check" Execute="deferred" Impersonate="no" BinaryKey="SMLogging.Setup.CustomActions.CA.dll" DllEntry="InstallRequestLoggingMachinConfig"/>
    <CustomAction Id="UninstallRequestLoggingMachinConfig" Return="check" Execute="deferred" Impersonate="no" BinaryKey="SMLogging.Setup.CustomActions.CA.dll" DllEntry="UninstallRequestLoggingMachinConfig"/>
    <CustomAction Id="SetInstallErrorLoggingMachinConfigData" Property="InstallErrorLoggingMachinConfig" Value="ErrorLoggingPathRoot=[ERRORLOGGINGPATHROOT];ErrorLoggingPath=[ERRORLOGGINGPATH];ErrorLoggingRollingMode=[ERRORLOGGINGROLLINGMODE];ErrorLoggingRollingInterval=[ERRORLOGGINGROLLINGINTERVAL];ErrorLoggingMaximumFileSize=[ERRORLOGGINGMAXIMUMFILESIZE];ErrorLoggingMaximumFileIndex=[ERRORLOGGINGMAXIMUMFILEINDEX];ProductVersion=[ProductVersion]"/>
    <CustomAction Id="InstallErrorLoggingMachinConfig" Return="check" Execute="deferred" Impersonate="no" BinaryKey="SMLogging.Setup.CustomActions.CA.dll" DllEntry="InstallErrorLoggingMachinConfig"/>
    <CustomAction Id="UninstallErrorLoggingMachinConfig" Return="check" Execute="deferred" Impersonate="no" BinaryKey="SMLogging.Setup.CustomActions.CA.dll" DllEntry="UninstallErrorLoggingMachinConfig"/>

    <InstallExecuteSequence>
      <Custom Action="SetInstallRequestLoggingMachinConfigData" After="InstallInitialize">
        <![CDATA[&RequestLoggingMachineConfigFeature=3]]>
      </Custom>
      <Custom Action="InstallRequestLoggingMachinConfig" After="PublishProduct">
        <![CDATA[&RequestLoggingMachineConfigFeature=3]]>
      </Custom>
      <Custom Action="UninstallRequestLoggingMachinConfig" After="MsiUnpublishAssemblies">
        REMOVE="ALL"
      </Custom>
      <Custom Action="SetInstallErrorLoggingMachinConfigData" After="InstallInitialize">
        <![CDATA[&ErrorLoggingMachineConfigFeature=3]]>
      </Custom>
      <Custom Action="InstallErrorLoggingMachinConfig" After="PublishProduct">
        <![CDATA[&ErrorLoggingMachineConfigFeature=3]]>
      </Custom>
      <Custom Action="UninstallErrorLoggingMachinConfig" After="MsiUnpublishAssemblies">
        REMOVE="ALL"
      </Custom>
    </InstallExecuteSequence>

	</Product>
  
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Service Model Logging">
          <Directory Id="NET40FOLDER" Name="net40"/>
          <Directory Id="NET35FOLDER" Name="net35"/>
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="AssemblyComponents">
      <Component Id="SMLogging" Guid="EECD9D85-FE77-4615-93D7-1C96B9202ED3" Directory="NET40FOLDER" Permanent="no">
        <File Id="SMLogging.dll_net40_gac" Name="$(var.SMLogging.TargetFileName)" Source="$(var.SMLogging.TargetPath)" KeyPath="yes" Vital="yes" Checksum="yes" Assembly=".net" AssemblyManifest="SMLogging.dll_net40_gac"/>
      </Component>
      <Component Id="SMLogging_net35" Guid="14ABEFAF-0C44-4EFF-86A5-D1B73DCFECC0" Directory="NET35FOLDER" Permanent="no">
        <File Id="SMLogging.dll_net35_gac" Name="$(var.SMLogging-net35.TargetFileName)" Source="$(var.SMLogging-net35.TargetPath)" KeyPath="yes" Vital="yes" Checksum="yes" Assembly=".net" AssemblyManifest="SMLogging.dll_net35_gac"/>
       </Component>
       <Component Id="TaskParallelLibrary_net35" Guid="82E60848-61B3-42DA-99F0-BE73FC894891" Directory="NET35FOLDER" Permanent="no">
        <File Id="System.Threading.dll_net35_gac" Name="System.Threading.dll" Source="$(var.SMLogging-net35.TargetDir)System.Threading.dll" KeyPath="yes" Vital="yes" Checksum="yes" Assembly=".net" AssemblyManifest="System.Threading.dll_net35_gac"/>
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>