<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="requestLogging" type="SMLogging.RequestLoggingBehaviorExtension, SMLogging"/>
        <add name="errorLogging" type="SMLogging.ErrorLoggingBehaviorExtension, SMLogging"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <requestLogging />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.tcp://localhost/SMLogging.Lab/LabService.svc"
                binding="netTcpBinding" bindingConfiguration="netTcpDefaultBinding"
                contract="SMLogging.Lab.ILabService"></endpoint>
      <endpoint address="net.tcp://localhost/SMLogging.Lab/StreamingLabService.svc"
                binding="netTcpBinding" bindingConfiguration="streamedNetTcpBinding"
                contract="SMLogging.Lab.IStreamingLabService"></endpoint>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="streamedHttpBinding" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647" transferMode="Streamed" messageEncoding="Mtom">
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="None" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttpDefaultBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" negotiateServiceCredential="false" establishSecurityContext="false" />
          </security>
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="netTcpDefaultBinding" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxConnections="1000">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="streamedNetTcpBinding" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647" transferMode="Streamed" >
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="netNamedPipeDefaultBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
        <binding name="streamedNetNamedPipeBinding" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.ServiceModel.RequestLogging" switchValue="Information">
        <listeners>
          <remove name="Default" />
          <add name="File" type="SMLogging.BackgroundFileTraceListener, SMLogging" initializeData="%SystemDrive%\servicemodel\logs\{AppName}\requests.{DateTime:yyMMdd}.log" rollingMode="DateTime" rollingInterval="Day" />
        </listeners>
      </source>
      <source name="System.ServiceModel.ErrorLogging" switchValue="Error">
        <listeners>
          <remove name="Default" />
          <add name="File" type="SMLogging.BackgroundFileTraceListener, SMLogging" initializeData="%SystemDrive%\servicemodel\logs\{AppName}\errors.{DateTime:yyMMdd}.log" rollingMode="DateTime" rollingInterval="Day" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

</configuration>