<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="requestLogging" type="SMLogging.RequestLoggingBehaviorExtension, SMLogging"/>
        <add name="errorLogging" type="SMLogging.ErrorLoggingBehaviorExtension, SMLogging"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <requestLogging />
          <errorLogging />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="streamedHttpBinding" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647" transferMode="Streamed" messageEncoding="Mtom">
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="None" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttpDefaultBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" negotiateServiceCredential="false" establishSecurityContext="false" />
          </security>
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="netTcpDefaultBinding" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxConnections="1000">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="streamedNetTcpBinding" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647" transferMode="Streamed" >
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="netNamedPipeDefaultBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
        <binding name="streamedNetNamedPipeBinding" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>

    <services>
      <service name="SMLogging.Lab.LabService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpDefaultBinding" contract="SMLogging.Lab.ILabService" />
        <endpoint binding="netTcpBinding" bindingConfiguration="netTcpDefaultBinding" contract="SMLogging.Lab.ILabService" />
        <endpoint binding="netNamedPipeBinding" bindingConfiguration="netNamedPipeDefaultBinding" contract="SMLogging.Lab.ILabService" />
      </service>
      <service name="SMLogging.Lab.StreamingLabService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="streamedHttpBinding" contract="SMLogging.Lab.IStreamingLabService" />
        <endpoint binding="netTcpBinding" bindingConfiguration="streamedNetTcpBinding" contract="SMLogging.Lab.IStreamingLabService" />
        <endpoint binding="netNamedPipeBinding" bindingConfiguration="streamedNetNamedPipeBinding" contract="SMLogging.Lab.IStreamingLabService" />
      </service>
    </services>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <system.diagnostics>
    <!--<trace autoflush="true"/>-->
    <sources>
      <source name="System.ServiceModel.RequestLogging" switchValue="Information">
        <listeners>
          <remove name="Default" />
          <add name="File" type="SMLogging.BackgroundFileTraceListener, SMLogging" initializeData="%SystemDrive%\servicemodel\logs\{AppName}\requests.{DateTime:yyMMdd}.log" rollingMode="DateTime" rollingInterval="Day" />
        </listeners>
      </source>
      <source name="System.ServiceModel.ErrorLogging" switchValue="Error">
        <listeners>
          <remove name="Default" />
          <add name="File" type="SMLogging.BackgroundFileTraceListener, SMLogging" initializeData="%SystemDrive%\servicemodel\logs\{AppName}\errors.{DateTime:yyMMdd}.log" rollingMode="DateTime" rollingInterval="Day" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

</configuration>
